#* @vtlvariable name="module" type="com.jd.common.web.url.JdUrl" *#
#* @vtlvariable name="page" type="com.jd.common.util.base.PaginatedArrayList" *#

##分页功能
#macro (showPage $module $page)
    #if($page)
        #set($pagePos = 2) ##当前页的尾巴长度
    <span class="text">共$!{page.totalItem}条记录</span>
    <span class="text">共$!{page.totalPage}页</span>
        #if($page.previousPageAvailable) ##如果能向上翻页
        <a class="prev" href="$module.addQueryData("page",$!{page.previousPage}).render()">上一页<b></b></a>
        <a class="prev" href="$module.addQueryData("page",1).render()">首页</a>
        #else
        <span class="prev-disabled">上一页<b></b></span>
        <span class="prev-disabled">首页</span>
        #end
        #if($!page.index>$pagePos+2) <span class="text">...</span> #end ##显示前面的省略号
        #foreach($i in [$pagePos..1]) ##增加前面的尾巴
            #if($!page.index - $i > 1)
                #set($pageIndex= $!page.index - $i)
            <a href="$module.addQueryData("page",$pageIndex).render()">$pageIndex</a>
            #end
        #end
    <a class="current">$!page.index</a> ##显示当前页号
        #foreach($i in [1..$pagePos]) ##增加后面的尾巴
            #if($!page.totalPage - $!page.index - $i > 0)
                #set($pageIndex= $!page.index + $!i)
            <a href="$module.addQueryData("page",$pageIndex).render()">$pageIndex</a>
            #end
        #end
        #if($!page.totalPage - $!page.index > $pagePos+1) <span class="text">...</span> #end ##显示后面的省略号
        #if($page.nextPageAvailable) ##显示后面的页
        <a class="next" href="$module.addQueryData("page",$!{page.totalPage}).render()">末页</a>
        <a class="next" href="$module.addQueryData("page",$!{page.nextPage}).render()">下一页<b></b></a>
        #else
        <span class="next-disabled">末页</span>
        <span class="next-disabled">下一页<b></b></span>
        #end
    <input name="totalPage" type="hidden" value="$!{page.totalPage}"/>
    <em>转向第 <input name="toPage" type="text" size="2"/> 页 <input type="button" value="确定" onclick="goToPage('$module.addQueryData("page",'-page-').render()')"></em>
        $!module.reset()
    #end
#end



##分页功能
#macro (showPageByFormSubmit $page $formId)
	<input type="hidden" name="page" id="page" value="#if($page.index)${page.index}#else 1#end"/>
    #if($page)
        #set($pagePos = 2) ##当前页的尾巴长度
    <span class="text">共$!{page.totalItem}条记录</span>
    <span class="text">共$!{page.totalPage}页</span>
        #if($page.previousPageAvailable) ##如果能向上翻页
        <a class="prev" href="javascript:jQuery('#toPage').val('$!{page.previousPage}');document.getElementById('$!{formId}').submit();">上一页<b></b></a>
        <a class="prev" href="javascript:jQuery('#toPage').val('1');document.getElementById('$!{formId}').submit();">首页</a>
        #else
        <span class="prev-disabled">上一页<b></b></span>
        <span class="prev-disabled">首页</span>
        #end
        #if($!page.index>$pagePos+2) <span class="text">...</span> #end ##显示前面的省略号
        #foreach($i in [$pagePos..1]) ##增加前面的尾巴
            #if($!page.index - $i > 1)
                #set($pageIndex= $!page.index - $i)
            <a href="javascript:jQuery('#toPage').val('$pageIndex');document.getElementById('$!{formId}').submit();">$pageIndex</a>
            #end
        #end
    <a class="current">$!page.index</a> ##显示当前页号
        #foreach($i in [1..$pagePos]) ##增加后面的尾巴
            #if($!page.totalPage - $!page.index - $i > 0)
                #set($pageIndex= $!page.index + $!i)
            <a href="javascript:jQuery('#toPage').val('$pageIndex');document.getElementById('$!{formId}').submit();">$pageIndex</a>
            #end
        #end
        #if($!page.totalPage - $!page.index > $pagePos+1) <span class="text">...</span> #end ##显示后面的省略号
        #if($page.nextPageAvailable) ##显示后面的页
        <a class="next" href="javascript:jQuery('#toPage').val('$!{page.totalPage}');document.getElementById('$!{formId}').submit();">末页</a>
        <a class="next" href="javascript:jQuery('#toPage').val('$!{page.nextPage}');document.getElementById('$!{formId}').submit();">下一页<b></b></a>
        #else
        <span class="next-disabled">末页</span>
        <span class="next-disabled">下一页<b></b></span>
        #end
    <input name="totalPage" type="hidden" value="$!{page.totalPage}"/>
    <em>转向第 <input name="toPage" id="toPage"  type="text" size="2" value="$!page.index" /> 页 <input type="button" value="确定" onclick="goToPageByForm('$!{formId}');"></em>
    #end
#end

#macro(showSimpleError)
    #if(!$!actionErrors.empty)
        #foreach($str in $actionErrors)
            $!str
            #break
        #end
    #end
#end

#macro(showError)
    #if(!$!actionErrors.empty)
        #foreach($str in $actionErrors)
        <li>$!str</li>
        #end
    #end
#end

#macro(showSimpleMessage)
    #if(!$!actionMessages.empty)
        #foreach($str in $actionErrors)
            $!str
            #break
        #end
    #end
#end

#macro(showMessage)
    #if(!$!actionMessages.empty)
        #foreach($str in $actionErrors)
        <li>$!str</li>
        #end
    #end
#end

#macro(showSettlementInfoStatus $status)
    #if($status==10)  待付款
    #elseif($status==11) 未结算
    #elseif($status==30) 付款完成
    #else 未知
    #end
#end

##订单支付方式
#macro(showPayMode $status)
    #if($status==1)  货到付款
    #elseif($status==2) 邮局汇款
    #elseif($status==3) 自提
    #elseif($status==4) 在线支付
    #elseif($status==5) 公司转账
    #elseif($status==8) 分期付款
    #elseif($status==12) 月结
    #else 未知
    #end
#end

##应收类型
#macro(showReceivableId $status)
    #if($status==1)  商品总额
    #else 未知
    #end
#end

##支付类型
#macro(showPayType $status)
    #if($status==6)  在线支付
    #elseif($status==7) 现金
    #elseif($status==8) 支票
    #elseif($status==9) POS
    #elseif($status==10) 转账
    #elseif($status==11) 邮局汇款
    #else 未知
    #end
#end

##币种
#macro(showCurrency $status)
    #if($status==1)  人民币
    #elseif($status==2) 美元
    #else 未知
    #end
#end

##核销状态
#macro(showOrderBankStatus $status)
    #if($status==1)  待对账
    #elseif($status==2) 部分对账
    #elseif($status==3) 已对账
    #elseif($status==4) 拆单已取消
    #elseif($status==5) 普通已取消
    #else 未知
    #end
#end

