<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="cache-control" content="no-cache"> 
<meta http-equiv="expires" content="0">   
<title>退款单查询</title>
<link href="${request.contextPath}/new/css/pay.css" rel="stylesheet" type="text/css"/>

#parse("/macro.vm")

<style type="text/css" >
.a{
float:left;
clear:left;
height:347}

.d1{
float:right;
clear:right;
color:#FF0000;
width:200;
height:100}
</style>

<script type="text/javascript" src="${request.contextPath}/new/js/jquery-1.2.6.pack.js"></script>
<script type="text/javascript" src="${request.contextPath}/new/js/json2.js"></script>
<script type="text/javascript" src="${request.contextPath}/new/js/map.js"></script>
<script type="text/javascript" src="${request.contextPath}/new/js/My97DatePicker/WdatePicker.js"></script>

<script type="text/javascript">  

	$(function() {
		$('#startCreateDate').datetimepicker({showSecond: true,timeFormat: 'HH:mm:ss', dateFormat: 'yy-mm-dd'});
		$('#endCreateDate').datetimepicker({showSecond: true,timeFormat: 'HH:mm:ss', dateFormat: 'yy-mm-dd'});
	});
	
	function getPageData(page, type) {
		if (type == 1) {
			page--;
		} else if (type == 2) {
			page++;
		}
		
		//总页数
		var pageCount = $("#showPageCount").attr("value");
		
		//如果将要跳转的页号大于总页数，则页号为总页数；
		//如果小于0，则为首页
		if (page > pageCount)
			page = pageCount;
		if (page < 1)
			page = 1;
			
		$("#page").val(page);
		
		jQuery("#searchForm").attr("method", "post");
        jQuery("#searchForm").attr("action", "/erp/refund/newRefundList");
		$("#searchForm").submit();
	}

	$(document).ready(function(){  
//        $("tr:even").addClass("info");//奇数行
      //  $("tr:odd").addClass("success");//偶数行
    });
    
    function sendquery() {
    	$("#currentPage").val(1);
		jQuery("#searchForm").attr("method", "post");
        jQuery("#searchForm").attr("action", "/erp/refund/newRefundList");
        jQuery("#searchForm").submit();
    }
	
	function sendExport() {
		var merchantOrderId = jQuery("#merchantOrderId").val();
		var merchantCode = jQuery("#merchantCode").val();
		var platRefunId = jQuery("#platRefunId").val();
		var refundId = jQuery("#refundId").val();
		
		var startCreateDate = jQuery("#startCreateDate").val();
		var endCreateDate = jQuery("#endCreateDate").val();
		
		var rows = jQuery("#rows").val();
		var page = jQuery("#page").val();
		
		jQuery.ajax({
                url: '${request.contextPath}/erp/refund/exportCSV',
                data: {
						"merchantOrderId" : merchantOrderId,
						"merchantCode" : merchantCode,
						"platRefunId" : platRefunId,
						"refundId" : refundId,
						"startCreateDate" : startCreateDate,
						"endCreateDate" : endCreateDate,
						"rows" : rows,
						"page" : page
				},
                type: 'post',
                success: function(result) {
                	result = jQuery.parseJSON(result);
                	
                    if (result && (result.code == 'success')) {
                        window.location.href="${request.contextPath}/erp/refund/downCsv?filePath=" + result.msg;
                    } else {
                        jQuery.messager.alert('提示信息', result.msg, 'error');
                    }
                }
        });
    }
	
	
	
    $(document).keyup(function(event){
    
	  var queryFrom = document.getElementById("searchForm");
		queryFrom.action = "/erp/refund/newRefundList";
    
	  if(event.keyCode ==13){
        $("#rows").val($("#rowsShow").val());
	    $("#querybutton").trigger("click");
	  }
	});
</script>
<div class="row-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">退款单查询</h3>
        </div>
    	<div class="panel-body">
			<form class="form-horizontal" role="form" action="/erp/refund/newRefundList" method="post" id="searchForm">
				<div class="form-group">
	                <label class="col-xs-1 control-label">商家订单号：</label>
		        	<div class="col-xs-2">
			        	<input type="text" class="form-control" value="$!queryRefundVo.merchantOrderId" id="merchantOrderId" name="merchantOrderId" />
		        	</div>
					
	                <label class="col-xs-1 control-label">商家商户号：</label>
		        	<div class="col-xs-2">
						<input type="text" class="form-control" value="$!queryRefundVo.merchantCode" id="merchantCode" name="merchantCode" />
		        	</div>
					
					<label class="col-xs-1 control-label" style="width:116px">平台退款单号：</label>
		        	<div class="col-xs-2">
			        	<input type="text" class="form-control" value="$!queryRefundVo.platRefunId" id="platRefunId" name="platRefunId" />
		        	</div>
				</div>
				<div class="form-group">
					<label class="col-xs-1 control-label">商家退款单号：</label>
		        	<div class="col-xs-2">
		        		<input type="text" class="form-control" value="$!queryRefundVo.refundId" id="refundId" name="refundId" />
		        	</div>
					
					<label class="col-xs-1 control-label">退款时间：</label>
		        	<div class="col-xs-4">
			        	<table>
			        		<tr>
			        			<td>
									<input type="text" class="form-control" value="$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{queryRefundVo.startCreateDate})" id="startCreateDate" name="startCreateDate"  />
				        	    </td>
			        			<td>
			        			<label class="control-label">至</label>
				        	    </td>
			        			<td>
									<input type="text" class="form-control" value="$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{queryRefundVo.endCreateDate})"  id="endCreateDate" name="endCreateDate" />
				        	    </td>
				        	</tr>
			        	</table>
		        	</div>
				</div>
				<div class="form-group">
					<div align="center">
						<button id="querybutton" class="btn btn-info" type="button" onclick="sendquery()">查询</button>
						&nbsp;
						<button id="exportbutton" class="btn btn-info" type="button" onclick="sendExport();">导出EXCEL</button>
					</div>
				</div>
				
				##当前页
				<input type="hidden" id="page"  name="page" value="$!queryRefundVo.page"/>
				##每页显示的大小
				<input type="hidden" id="rows"  name="rows" value="$!queryRefundVo.rows"/>

	        </form>

			<table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-striped table-bordered  table-condensed">
				<thead>
					<tr>
						<th class="col-xs-fluid">序号</th>
						<th class="col-xs-fluid">平台退款单号</th>
						<th class="col-xs-fluid">商家退款单号</th>
						<th class="col-xs-fluid">商家商户号</th>
						<th class="col-xs-fluid">原始订单号</th>
						<th class="col-xs-fluid">退款金额</th>
						<th class="col-xs-fluid">退款时间</th>
					</tr>
				</thead>
				<tbody>
				#foreach($refund in $refunds)
					<tr>
						<td>
							$!velocityCount
						</td>
						<td>
							$!refund.platRefunId
						</td>
						<td>
							$!refund.refundId
						</td>
						<td>
							$!refund.merchantCode
						</td>
						<td>
							$!refund.merchantOrderId
						</td>
						<td>
							$!refund.amount
						</td>
						<td>
							$!date.format("yyyy-MM-dd HH:mm:ss",$refund.createDate)
						</td>
					</tr>
				#end
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="container" id="pageCountDiv" align="center">
    <div class="pagination  pagination-right"  id="showPageNum">
        <li  id="prePage">
            <a href="#" onclick="getPageData('$!queryRefundVo.page' ,1 )">上一页</a>
        </li>
        <li  id="nextPage">
            <a href="#" onclick="getPageData('$!queryRefundVo.page' ,2 )">下一页</a>
        </li>
        <li class="disabled">
            <a >当前第$!queryRefundVo.page 页</a>
        </li>
        <li  class="disabled">
            <a id="showPageCount" value="$!queryRefundVo.pageCount">共$!queryRefundVo.pageCount页</a>
        </li>
        <li  class="disabled">
            <a id="showRecordNum" value="$!queryRefundVo.recordNum">共$!queryRefundVo.recordNum条</a>
        </li>
        <li>
        <a><div style="padding: 0px; margin:0px; line-height:100%;">每页<input id="rowsShow" size="3" maxlength="3" type="text" name="rowsShow" autocomplete="off" value="$!queryRefundVo.rows"
                style="width: 35px; height:20px;">条</div></a>
        </li>
    </div>
</div>
</body>
</html>
